In [46]:
import pandas as pd
import numpy as np
data = {"name":["ajith","ashok","anand","aarthi","arun","ajay","prabhu","eangalas"],
       "DOB":[1998,1994,1996,2000,1997,2000,1997,1998],
       "area of interest":["IT","computer","BIo","Bank","electronics","anything","IT","Politics"],
       "address":["chennai","vaniyambadi","bangalore","vaniyambadi","vellore","natupatrai","ambur","thrupattur"],
       "mark":[50,60,100,65,50,55,76,79]}
df=pd.DataFrame(data,index=[1,2,3,4,5,6,7,8])
df

       name   DOB area of interest      address  mark
1     ajith  1998               IT      chennai    50
2     ashok  1994         computer  vaniyambadi    60
3     anand  1996              BIo    bangalore   100
4    aarthi  2000             Bank  vaniyambadi    65
5      arun  1997      electronics      vellore    50
6      ajay  2000         anything   natupatrai    55
7    prabhu  1997               IT        ambur    76
8  eangalas  1998         Politics   thrupattur    79

In [80]:
df['name'].values[0]

'ajith'

In [90]:
a=np.array([1,2,3,4,5,6])
print(a)

[1 2 3 4 5 6]

In [91]:
b=a.reshape((2,3))
b

array([[1, 2, 3],
       [4, 5, 6]])

In [93]:
b*10+4

array([[14, 24, 34],
       [44, 54, 64]])